body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.nav{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 0px;
    top: 57px;
    overflow: scroll;
    
    background: #082032;
}

.nav h1{
    position: relative;
    left: 145px;
    font-family: 'Josefin Sans', sans-serif;
    color: antiquewhite;
}

.nav h2{
    position: relative;
    left: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: antiquewhite;
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;

    color: #FFFFFF;
}

.nav p{
    position: relative;
    left: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: antiquewhite;
}

.sub{
    position: absolute;
    width: 433px;
    height: 78px;
    left: 0px;
    top: 0px;

    background: rgb(255, 255, 255);
}

.sub img{
    position: absolute;
    width: 52px;
    height: 50px;
    right: 370px;
    top: 5px;
}

.sub p{
    position: absolute;
    width: 300px;
    height:1px;
    left: 66px;
    bottom: 33px;
    
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    
}

.asd{
    position: absolute;
    width: 1052px;
    height: 691px;
    left: 651px;
    top: 49px;

    background: #FFFFFF;
    box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;

}

.sda{
    
box-sizing: border-box;

position: absolute;
width: 1487px;
height: 805px;
left: 400px;
top: 0px;

background: #D9D9D9;
border: 1px solid #000000;
}

.minimap{
    position: absolute;
width: 383px;
height: 276px;
left: 1537px;
top: 805px;

background: #A6A6A6;
}

.nao{
    position: sticky;
    top: 10px;
}