body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #205295;
}

.container{
    position: absolute;
    top: 10%;
    width: 85%;
    height: 80%;
    left: 7.7%;
    background-color: aqua;
    border-radius: 40px;
    background-color: whitesmoke;
}

.a{
    font-size: 140%;
    position: absolute;
    left: 84%;
    top: 2%;
}

.y{
    font-size: 140%;
    position: relative;
    padding-left: 5%;
    top: 2%;
}

hr{
    width: 90%;
    color: black;
}

form label{
    font-size: 120%;
    position: absolute;
    left: 37%;
}

form input{
    position: absolute;
    left: 37%;
    width: 23%;
    height: 10%;
    border-radius: 20px;
    border-color: gray;
    text-align: center;
    background-color: aliceblue;
}

form{
    position: relative;
    top: 6%;
}